@using YuSheng.OrchardCore.Workflow.Notify.QiyeWechat.ViewModels;
@model NotifyQiyeWechatTaskViewModel


<div class="form-group" asp-validation-class-for="Webhook">
    <label asp-for="Webhook">@T["Webhook"]</label>
    <input asp-for="Webhook" class="form-control" />
    <span asp-validation-for="Webhook"></span>
    <span class="hint">@T["Input webhook url manually"]</span>
</div>

<div class="form-group" asp-validation-class-for="Message">
    <label asp-for="Message">@T["Message"]</label>
    <textarea asp-for="Message" class="form-control" placeholder=""></textarea>
    <span asp-validation-for="Message"></span>
    <span class="hint">@T["The message send to qiye wechat"]</span>
</div>